Repository COS301-SE-2024/ECHO, pull requests merged in 2024-06, with the labels that each got.

#34 Feat/home base design
  Frontend/src/app/pages/home/home.component.css
  Frontend/src/app/pages/home/home.component.html
  Frontend/src/app/pages/home/home.component.ts
  Frontend/src/app/services/theme.service.ts
  Frontend/src/app/shared/navbar/navbar.component.css
  Frontend/src/app/shared/navbar/navbar.component.html
  Frontend/src/app/shared/navbar/navbar.component.spec.ts
  Frontend/src/app/shared/navbar/navbar.component.ts
  Frontend/src/app/shared/svg-icon/svg-icon.component.css
  Frontend/src/app/shared/svg-icon/svg-icon.component.html
  Frontend/src/app/shared/svg-icon/svg-icon.component.spec.ts
  Frontend/src/app/shared/svg-icon/svg-icon.component.ts
  Frontend/src/assets/icons/Vector.jpg
  Frontend/src/assets/icons/home-dark.png
  Frontend/src/assets/icons/home.png
  Frontend/tailwind.config.js
  package-lock.json
Labels: frontend

#119 Documentation
  Documentation/AI Subsystem.png
  Documentation/Analytics Display.png
  Documentation/Architectural Requirements.md
  Documentation/Coding Standards
  Documentation/ECHO User Manual.md
  Documentation/Help Menu Text.md
  Documentation/Music Recommendation Engine.png
  Documentation/Profile Management.png
  Documentation/RequirementSpecification.md
  Documentation/User Management.png
  Documentation/new AI Subsystem.png
  README.md
Labels: documentation

#123 Feat/frontend component tests
  Frontend/src/app/shared/moods/moods.component.spec.ts
  Frontend/src/app/shared/navbar/navbar.component.spec.ts
  Frontend/src/app/shared/svg-icon/svg-icon.component.spec.ts
Labels: Tests

#128 Frontend Updates
  Frontend/src/app/pages/home/home.component.html
  Frontend/src/app/pages/home/home.component.ts
  Frontend/src/app/pages/login/login.component.css
  Frontend/src/app/pages/login/login.component.html
  Frontend/src/app/pages/login/login.component.ts
  Frontend/src/app/pages/profile/profile.component.html
  Frontend/src/app/pages/profile/profile.component.ts
  Frontend/src/app/pages/register/register.component.css
  Frontend/src/app/pages/register/register.component.html
  Frontend/src/app/pages/register/register.component.ts
  Frontend/src/app/shared/bottom-nav/bottom-nav.component.html
  Frontend/src/app/shared/bottom-nav/bottom-nav.component.spec.ts
  Frontend/src/app/shared/bottom-nav/bottom-nav.component.ts
  Frontend/src/app/shared/navbar/navbar.component.html
  Frontend/src/app/shared/search-bar/search-bar.component.css
  Frontend/src/app/shared/search-bar/search-bar.component.html
  Frontend/src/app/shared/search-bar/search-bar.component.spec.ts
  Frontend/src/app/shared/search-bar/search-bar.component.ts
  Frontend/src/app/shared/toast/toast.component.css
  Frontend/src/app/shared/toast/toast.component.html
  Frontend/src/app/shared/toast/toast.component.spec.ts
  Frontend/src/app/shared/toast/toast.component.ts
Labels: frontend

#145 Fixed player bar and app styling
  Frontend/src/app/app.routes.ts
  Frontend/src/app/pages/home/home.component.html
  Frontend/src/app/pages/profile/profile.component.html
  Frontend/src/app/pages/user-library/user-library.component.css
  Frontend/src/app/pages/user-library/user-library.component.html
  Frontend/src/app/pages/user-library/user-library.component.spec.ts
  Frontend/src/app/pages/user-library/user-library.component.ts
  Frontend/src/app/shared/bottom-player/bottom-player.component.html
  Frontend/src/app/shared/moods/moods.component.html
  Frontend/src/app/shared/navbar/navbar.component.ts
  Frontend/src/app/shared/search-bar/search-bar.component.html
  Frontend/src/app/shared/side-bar/side-bar.component.html
  Frontend/src/assets/icons/audio-dark.png
  Frontend/src/assets/icons/audio-light.png
  Frontend/src/assets/icons/circled-pause-dark.png
  Frontend/src/assets/icons/circled-pause-light.png
  Frontend/src/assets/icons/circled-play-dark.png
  Frontend/src/assets/icons/circled-play-light.png
  Frontend/src/assets/icons/dark-mode.png
  Frontend/src/assets/icons/endsong-dark.png
  Frontend/src/assets/icons/endsong-light.png
  Frontend/src/assets/icons/heart.png
  Frontend/src/assets/icons/home-dark.png
  Frontend/src/assets/icons/home-icon.svg
  Frontend/src/assets/icons/home-light.png
  Frontend/src/assets/icons/home-selected.png
  Frontend/src/assets/icons/insights-dark.png
  Frontend/src/assets/icons/insights-icon.svg
  Frontend/src/assets/icons/insights-light.png
  Frontend/src/assets/icons/insights-selected.png
  Frontend/src/assets/icons/library-dark.png
  Frontend/src/assets/icons/library-icon.svg
  Frontend/src/assets/icons/library-light.png
  Frontend/src/assets/icons/library-selected.png
  Frontend/src/assets/icons/light-mode.png
  Frontend/src/assets/icons/mute-dark.png
  Frontend/src/assets/icons/mute-light.png
  Frontend/src/assets/icons/pause-dark.png
  Frontend/src/assets/icons/pause-light.png
  Frontend/src/assets/icons/play-dark.png
  Frontend/src/assets/icons/play-light.png
  Frontend/src/assets/icons/profile-dark.png
  Frontend/src/assets/icons/profile-light.png
  Frontend/src/assets/icons/shuffle-dark.png
  Frontend/src/assets/icons/shuffle-light.png
  Frontend/src/assets/icons/skip-dark.png
  Frontend/src/assets/icons/skip-light.png
  Frontend/src/assets/icons/skip-to-start-dark.png
  Frontend/src/assets/icons/skip-to-start-light.png
  Frontend/src/assets/icons/skipback-dark.png
  Frontend/src/assets/icons/skipback-light.png
  Frontend/tailwind.config.js
Labels: frontend

#153 Feat/login&reg placement
  Frontend/src/app/pages/login/login.component.css
  Frontend/src/app/pages/login/login.component.html
  Frontend/src/app/pages/register/register.component.css
Labels: frontend
